@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (padding: max(0px)) {
  body,
  header,
  footer {
    padding-left: min(12px, env(safe-area-inset-left));
    padding-right: min(12px, env(safe-area-inset-right));
  }
}

html,
body {
  background-color: #070101;
  color: white;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

.icon-light {
  filter: invert(100%) sepia(1%) saturate(5913%) hue-rotate(288deg) brightness(121%) contrast(89%);
}
