@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (padding: max(0px)) {
  body,
  header,
  footer {
    padding-left: min(12px, env(safe-area-inset-left));
    padding-right: min(12px, env(safe-area-inset-right));
  }
}

html {
  background-color: 262625;
}
