@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (padding: max(0px)) {
  body,
  header,
  footer {
    padding-left: min(12px, env(safe-area-inset-left));
    padding-right: min(12px, env(safe-area-inset-right));
  }
}

html,
body {
  background-color: #070101;
  color: white;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* For 'Sticky' Footer */
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}
/* End 'Sticky Footer */

/* SVG Filters */
.icon-light {
  filter: invert(100%) sepia(1%) saturate(5913%) hue-rotate(288deg) brightness(121%) contrast(89%);
}

hr {
  border: 1px solid white;
}

.navLink {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portButton {
  background-color: #000000;
  border: 1px solid white;
  width: fit-content;
  padding: 10px 20px;
  margin: 10px 0px;
}
